<h1>文档列表</h1>

<table>
  <tr>
    <th>编号</th>
    <th>文件名</th>
    <th>磁盘路径</th>
    <th>文件描述</th>
    <th>创建人</th>
    <th>文件类型</th>
    <th>上载时间</th>
    <th>操作</th>
  </tr>

<% @docs.each do |doc| %>
  <tr>
    <td><%=h doc.filename %></td>
    <td><%=h doc.disk_filename %></td>
    <td><%=h doc.description %></td>
    <td><%=h doc.user_id %></td>
    <td><%=h doc.created_at %></td>
    <td><%= link_to '下载',:action=>'download',:id=>doc %>
      <%= link_to '删除', doc, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '上载新的文档', new_doc_path %>