<h1>新增需求</h1>

<% form_for(@demand) do |f| %>
    <%= f.error_messages %>

    <p>
      标题:<br/>
      <%= f.text_field :title %>
    </p>
    <p>
      关键字:<br/>
      <%= f.text_field :keyword %>
    </p>
    <p>
      需求内容:<br/>
      <%= f.text_area :content, :cols=>'80', :rows=>'10' %>
    </p>
    <p>
      提出部门:<br/>
      <%= f.text_field :department %>
    </p>
    <p>
      提出人:<br/>
      <%= f.text_field :businessman %>
    </p>
    <p>
      创建时间:<br/>
      <%= f.text_field :created_at %>
    </p>
    <p>
      <%= f.submit '更新' %>
    </p>
<% end %>

<%= link_to '返回需求列表', demands_path %>

<br/>