<h1>新资料</h1>

<% form_for(@knowledge) do |f| %>
    <%= f.error_messages %>

    <p>
      标题:<br/>
      <%= f.text_field :title %>
    </p>
    <p>
      案例内容:<br/>
      <%= f.text_area :content, :cols=>'80', :rows=>'10' %>
    </p>
    <p>
      案例分析:<br/>
      <%= f.text_area :analysis, :cols=>'80', :rows=>'10' %>
    </p>
    <p>
      解决方案:<br/>
      <%= f.text_area :plan, :cols=>'80', :rows=>'10' %>
    </p>
    <p>
      知识汇集:<br/>
      <%= f.text_area :knowledge, :cols=>'80', :rows=>'10' %>
    </p>
    <p>
      参考意见:<br/>
      <%= f.text_area :reference, :cols=>'80', :rows=>'10' %>
    </p>
    <p>
      <%= f.submit '创建资料' %>
    </p>
    <%= render :partial => 'docs/list', :locals => {:docs => @docs, } %>

<% end %>

<%= link_to '返回列表', knowledges_path %>